In [1]:
import pandas as pd
from typing import List

In [2]:
# load the dataset 
data = pd.read_csv("./data/amazon-sales.csv")
data

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD0099996,2023-03-07,CUST001356,Karan Joshi,P00047,Memory Card 128GB,Electronics,Apex,2,492.34,0.00,78.77,2.75,1066.20,UPI,Delivered,Jacksonville,FL,India,SELL00041
99996,ORD0099997,2021-11-24,CUST031254,Sunita Kapoor,P00046,Car Charger,Sports & Outdoors,Apex,5,449.30,0.00,179.72,6.07,2432.29,Credit Card,Delivered,San Jose,CA,United States,SELL01449
99997,ORD0099998,2023-04-29,CUST012579,Aman Gupta,P00030,Dress Shirt,Sports & Outdoors,BrightLux,4,232.40,0.00,74.37,12.43,1016.40,Cash on Delivery,Delivered,Indianapolis,IN,United States,SELL00028
99998,ORD0099999,2021-11-01,CUST026243,Simran Gupta,P00046,Car Charger,Sports & Outdoors,HomeEase,1,294.05,0.00,23.52,13.09,330.66,Debit Card,Delivered,Charlotte,NC,United States,SELL00324
99999,ORD0100000,2021-12-04,CUST029492,Sunita Reddy,P00019,LED Desk Lamp,Home & Kitchen,CoreTech,5,166.70,0.05,63.35,3.34,858.52,Debit Card,Delivered,New York,NY,United States,SELL00761

# Data cleaning

In [3]:
# Data Cleaning 
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   OrderID        100000 non-null  str
 1   OrderDate      100000 non-null  str
 2   CustomerID     100000 non-null  str
 3   CustomerName   100000 non-null  str
 4   ProductID      100000 non-null  str
 5   ProductName    100000 non-null  str
 6   Category       100000 non-null  str
 7   Brand          100000 non-null  str
 8   Quantity       100000 non-null  int64
 9   UnitPrice      100000 non-null  float64
 10  Discount       100000 non-null  float64
 11  Tax            100000 non-null  float64
 12  ShippingCost   100000 non-null  float64
 13  TotalAmount    100000 non-null  float64
 14  PaymentMethod  100000 non-null  str
 15  OrderStatus    100000 non-null  str
 16  City           100000 non-null  str
 17  State          100000 non-null  str
 18  Country        100000 non-null  str
 19  SellerID       100000 non-null  str
dtypes: float64(5), int64(1), str(14)
memory usage: 15.3 MB

# Most bought value =

In [4]:
def most_common_product(data, column_name) -> str:
    """
        This function finds the most frequently bought item and returns it 
        it takes 2 argument:
        1. data => your data set 
        2. column_name = the column that u want to check the most frequent item
    """
    # dictonary to store the product name as the key and the no. of appearance as count
    products = {}
    for product in data[column_name]:
        # if product does exist it gives a default value of 0 but if it exists it uses it current value and adds 1 (get method)
        products[product] = products.get(product, 0) + 1

    # finds the max product 
    most_common = max(products, key=products.get)
    return most_common

print(most_common_product(data,"ProductName"))

LED Desk Lamp

In [5]:
data["ProductName"].value_counts()

ProductName
LED Desk Lamp                  2098
Water Bottle                   2088
Cookware Set                   2058
Router                         2054
Electric Kettle                2054
Yoga Mat                       2041
Memory Card 128GB              2039
Board Game                     2039
Smart Light Bulb               2036
Microphone                     2034
Mechanical Keyboard            2034
Wireless Charger               2034
Noise Cancelling Headphones    2031
Portable SSD 1TB               2030
Drone Mini                     2026
Desk Organizer                 2026
Action Camera                  2024
Office Chair                   2018
Vacuum Cleaner                 2017
Instant Pot                    2016
Webcam Full HD                 2013
Gaming Mouse                   2010
Wireless Earbuds               2008
Dress Shirt                    2007
Air Fryer                      2007
4K Monitor                     2006
Kids Toy Car                   2004
Running Shoes                  2002
HDMI Cable 2m                  2002
Phone Tripod                   1996
Laptop Sleeve                  1996
Smartwatch                     1989
Smartphone Case                1989
Graphic Tablet                 1981
T-Shirt                        1978
Projector Mini                 1976
External HDD 2TB               1975
Jeans                          1969
Power Bank 20000mAh            1966
Puzzle 1000pc                  1965
Novel Bestseller               1962
USB-C Charger                  1958
Winter Jacket                  1954
Sunglasses                     1952
Fitness Band                   1943
Desk Plant                     1941
Car Charger                    1917
Children's Book                1914
Bluetooth Speaker              1913
Backpack                       1910
Name: count, dtype: int64

In [14]:
def create_pivot_table(data,index:str,values:str,columns:List[str]):
    pivoted_data = pd.pivot_table(data,index=index,values=values,columns=columns,fill_value=0)
    return pivoted_data

create_pivot_table(data,"CustomerID","Quantity",["ProductID"])

ProductID,P00001,P00002,P00003,P00004,P00005,P00006,P00007,P00008,P00009,P00010,...,P00041,P00042,P00043,P00044,P00045,P00046,P00047,P00048,P00049,P00050
CustomerID,,,,,,,,,,,,,,,,,,,,,
CUST000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CUST000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
CUST000003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CUST000004,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CUST000005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CUST049995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CUST049996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CUST049997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
CUST049998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CUST049999,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
crosstab_data = pd.crosstab(data['CustomerID'],data['ProductID'])
crosstab_data

ProductID,P00001,P00002,P00003,P00004,P00005,P00006,P00007,P00008,P00009,P00010,...,P00041,P00042,P00043,P00044,P00045,P00046,P00047,P00048,P00049,P00050
CustomerID,,,,,,,,,,,,,,,,,,,,,
CUST000001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CUST000002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
CUST000003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CUST000004,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
CUST000005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CUST049995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CUST049996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CUST049997,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
CUST049998,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
CUST049999,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0